body{
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 100%;
  }
  
  .left, .right {
    flex-basis: 45%;
    border: 1px solid saddlebrown;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(255, 255, 255, .1);
    border-top: .1rem solid rgba(255, 255, 255, .3);
    border-left: .1rem solid rgba(255, 255, 255, .3);
    display: flex;
    flex-direction: column;
  }
  .btn-panel{
    display: flex;
    align-items: center;
    justify-content:flex-start;
  }
  .btn-panel .tablink{
    width: 100%;
    padding: 1rem 0.4rem;
    font-weight: bolder;
    background:var(--dark-color);
    border: none;
    outline: none;
  }
  
  textarea {
    width: 100%;
    height: 80vh;
    color: black;
    padding: 10px;
    outline: none;
    font-size: 14px;
    border: none;
    text-transform: none;
    background: var(--light-background);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }

 #htmlCode{
    background: var(--light-background);
    color: #444444;
  } 
   #cssCode{
    color: #001f3f;
    font-weight: 900;

 } 
  #jsCode{
    color: #333333;
  } 
   
  #output-btn{
    background:var(--dark-color);

  }
  iframe {
    width: 100%;
    height: 80vh;
    background:var(--light-background);
    border: none;
    outline: none;
  }

  footer{
    background: rgba(255, 255, 255, .3);
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  footer a{
    font-size: 2.6rem;
    font-family:'Courier New', Courier, monospace;
    color: maroon;
    overflow: hidden;

  }
  footer a:hover{
    border-radius: 12px;
    color: rgba(216, 248, 5, 0.784);
    background-color: #001f3f3e;
  }